*{
    margin: 0;
    padding: 0;
}

html{
    height: 100%;
}

p{
    color: grey;
}

h2{
    
    color: #673AB7;
    font-weight: 300;
    display: flex;
    justify-content: center;
}


#msform{
    text-align: center;
    position: relative;
    margin-top: 20px;
    margin-right: 15px;
}

#msform fieldset{
    background: white;
    border: 0 none;
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding-bottom: 20px;
    position: relative;
}

.form-card{
    text-align: center;
}



.infotype{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   
}

.checkbox-container{
    display: flex;
    flex-direction: row;
    margin-left: 15px;
    
}
.checkbox-container input{
    margin-right: 10px;
}

.flexinfo{
    display: flex;
    justify-content: space-between;
    flex-direction: col;
}
.flexinfo .info{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.info label.fieldlabels {
    flex: 0 0 50%; 
    margin-right: 10px; 
}



.selectdiv{
    margin-top: -30px;
    margin-bottom: 25px;
    
}

.flextype{
    display: flex;
    
    /*margin-top: -30px;*/
   
}


.error-message {
    color: red;
    font-weight: bold;
}

#msform fieldset:not(:first-of-type){
    display: none;
}

#msform input, #msform textarea{
    padding: 8px 15px 8px 15px;
    border: 1px solid #ccc;
    border-radius: 0px;
    margin-bottom: 25px;
    width: 100%;
    color: #2C3E50;
    background-color: #ECEFF1;
    font-size: 16px;
    letter-spacing: 1px;
}

#msform input:focus, #msform textarea:focus{
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: px solid #673AB7;
    outline-width: 0;
}

#msform .action-button{
    width: 100px;
    background: #673AB7;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 0px 10px 5px;
    float: right;
}
#msform .action-button:hover,
#msform .action-button:focus {
    background-color: #311B92
}

#msform .action-button-previous {
    width: 100px;
    background: #616161;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px 10px 0px;
    float: right
}

#msform .action-button-previous:hover,
#msform .action-button-previous:focus {
    background-color: #000000
}

.card {
    z-index: 0;
    border: none;
    position: relative
}

.fs-title {
    font-size: 25px;
    color: #673AB7;
    margin-bottom: 15px;
    font-weight: normal;
    text-align: left
}

.purple-text {
    color: #673AB7;
    font-weight: normal
}

.steps {
    font-size: 25px;
    color: gray;
    margin-bottom: 10px;
    font-weight: normal;
    text-align: right
}

.fieldlabels {
    color: gray;
    text-align: left;
    display: flex;
    margin-left: 15px;
    justify-content: start;
    width: 45%;
}




/***/
.select-box {
    position: relative;
    width: 26rem;
    
    height: 50px;
}

.select-box input {
    width: 100%;
    padding: 1rem .6rem;
    font-size: 1.1rem;
    
    border: .1rem solid transparent;
    outline: none;
}


.inputphone{
   margin-top: 25px;
   margin-right: 5px;
}


input[type="tel"] {
    border-radius: 0 .5rem .5rem 0;
}

.select-box input:focus {
    border: .1rem solid var(--primary);
}

.selected-option {
    background-color: #eee;
    
    overflow: hidden;
    height: 50px;
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.selected-option div{
    position: relative;

    width: 6rem;
    padding: 0 2.8rem 0 .5rem;
    text-align: center;
    cursor: pointer;
}

.selected-option div::after{
    position: absolute;
    content: "";
    right: .8rem;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    
    width: .8rem;
    height: .8rem;
    border-right: .12rem solid var(--primary);
    border-bottom: .12rem solid var(--primary);

    transition: .2s;
}

.selected-option div.active::after{
    transform: translateY(-50%) rotate(225deg);
}

.select-box .options {
    position: absolute;
    top: 4rem;
    
    width: 100%;
    background-color: #fff;
    border-radius: .5rem;
    display: none;
}

.select-box .options.active {
    display: block;
    margin-bottom: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    border: 1px solid #ccc;
}



input.search-box {
    background-color: var(--primary);
    color: #fff;
    border-radius: .5rem .5rem 0 0;
    padding: 1.4rem 1rem;
}

.select-box ol {
    list-style: none;
    max-height: 23rem;
    overflow: overlay;
}

.select-box ol::-webkit-scrollbar {
    width: 0.6rem;
}

.select-box ol::-webkit-scrollbar-thumb {
    width: 0.4rem;
    height: 3rem;
    background-color: #ccc;
    border-radius: .4rem;
}

.select-box ol li {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.select-box ol li.hide {
    display: none;
}

.select-box ol li:not(:last-child) {
    border-bottom: .1rem solid #eee;
}

.select-box ol li:hover {
    background-color: lightcyan;
}

.select-box ol li .country-name {
    margin-left: .4rem;
}



/**modal**/

section {
    position: fixed;
    height: 100%;
    width: 100%;
    
  }
  
  button {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    padding: 14px 22px;
    border: none;
    background: #4070f4;
    border-radius: 6px;
    cursor: pointer;
  }
  
  button.show-modal,
  .modal-box {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }
  section.active .show-modal {
    display: none;
  }
  .overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    opacity: 0;
    pointer-events: none;
  }
  section.active .overlay {
    opacity: 1;
    pointer-events: auto;
  }
  .modal-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 380px;
    width: 100%;
    padding: 30px 20px;
    border-radius: 24px;
    background-color: #fff;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
    transform: translate(-50%, -50%) scale(1.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border: 2px solid #ccc;
  }
  section.active .modal-box {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
  }
  
  .modal-box h2 {
    margin-top: 20px;
    font-size: 25px;
    font-weight: 500;
    color: #333;
  }
  .modal-box h3 {
    font-size: 16px;
    
    font-weight: bold;
    color: red;
    text-align: center;
  }
  .modal-box .buttons {
    background-color: #4070f4;
    margin-top: 25px;
  }
  .modal-box button {
    font-size: 14px;
    padding: 6px 12px;
    margin: 0 10px;
  }
